#contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 5%;
  row-gap: 30px;
}

#contents ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contents ul li {
  width: 100%;
  display: block;
}

#contents h4 {
  margin: 0;
}